<!-- REGISTER STUFF -->
<form (ngSubmit)="registerUser()">
<mat-card>

  <h3>Register</h3>
  <mat-form-field>
    <input matInput ngNativeValidate type="text" placeholder="User Name" name="name" [(ngModel)]="userToRegister.username" required>
  </mat-form-field>
  <mat-form-field>
    <input (input)="checkPassword()" (focus)="showPasswordReqs(true)" (focusout)="showPasswordReqs(false)" [(ngModel)]="passwordInput" matInput type="password" placeholder="Password" name="password" [(ngModel)]="userToRegister.password" required>
  <div *ngIf="showPassReqs" [hidden]="!showPassReqs" class="passReqModal">
    <h4 [ngStyle]="{color: 'gray', 'margin': '8px'}" class="reqText">Password must include:</h4>
    <div class="reqText">
      <p class="reqStatus" *ngIf="passwordReqs[0]" [ngStyle]="{color: 'green'}">✔</p>
      <p class="reqStatus" *ngIf="!passwordReqs[0]" [ngStyle]="{color: 'red'}">✖</p>
      a minimum of 8 characters
    </div>
    <div class="reqText">
      <p class="reqStatus" *ngIf="passwordReqs[1]" [ngStyle]="{color: 'green'}">✔</p>
      <p class="reqStatus" *ngIf="!passwordReqs[1]" [ngStyle]="{color: 'red'}">✖</p>
      capital and small letters</div>
    <div class="reqText">
      <p class="reqStatus" *ngIf="passwordReqs[2]" [ngStyle]="{color: 'green'}">✔</p>
      <p class="reqStatus" *ngIf="!passwordReqs[2]" [ngStyle]="{color: 'red'}">✖</p>
      a number</div>
    <div class="reqText">
      <p class="reqStatus" *ngIf="passwordReqs[3]" [ngStyle]="{color: 'green'}">✔</p>
      <p class="reqStatus" *ngIf="!passwordReqs[3]" [ngStyle]="{color: 'red'}">✖</p>
      a special character</div>
  </div>
</mat-form-field>
    <mat-form-field>
      <input (input)="checkFirstName()" matInput type="text" placeholder="First name" name="firstName" [(ngModel)]="userToRegister.firstName" required>
    </mat-form-field>
    <mat-form-field>
      <input (input)="checkLastName()"matInput type="text" placeholder="Last name" name="lastName" [(ngModel)]="userToRegister.lastName" required>
    </mat-form-field>
    <mat-form-field>
      <input (input)="checkEmail()"matInput type="email" placeholder="Email address" name="email" [(ngModel)]="userToRegister.email" required>
      <mat-hint *ngIf="showEmailError" [hidden]="!showEmailError" class="inlineValidation">Please enter a valid email.</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input (input)="checkAddress()"matInput type="text" placeholder="Home address" name="homeAddress" [(ngModel)]="userToRegister.homeAddress" required>
    </mat-form-field>
    <mat-form-field>
      <input (input)="checkStreetNumber()"matInput type="number" placeholder="Street number" name="streetNumber" [(ngModel)]="userToRegister.streetNumber" required>
    </mat-form-field>
    <mat-form-field>
      <input (input)="checkZipCode()"matInput type="number" placeholder="Zip code" name="zipCode" [(ngModel)]="userToRegister.zipCode" required>
    </mat-form-field>
    <mat-form-field>
      <input (input)="checkCity()"matInput type="text" placeholder="City" name="city" [(ngModel)]="userToRegister.city" required>
    </mat-form-field>
    <mat-form-field>
      <input (input)="checkBirthday()"matInput type="date" placeholder="Birthday" name="birthday" [(ngModel)]="userToRegister.birthday" required>
      <mat-hint *ngIf="showBirthdayError" [hidden]="!showBirthdayError" class="inlineValidation">Please enter a valid birthday.</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input (input)="checkPhoneNumber()"matInput type="tel" placeholder="Phone number" name="phoneNumber" [(ngModel)]="userToRegister.phoneNumber" required>
      <mat-hint *ngIf="showPhoneNumberError" [hidden]="!showPhoneNumberError" class="inlineValidation">Please enter a valid phone number.</mat-hint>
    </mat-form-field>
  <p *ngIf="showEmptyFieldError" [hidden]="!showEmptyFieldError" class="emptyField">All required fields should not be empty.</p>
  <button mat-flat-button color="primary" type="submit">Register</button>
</mat-card>
<span *ngIf="serverFeedback">{{ serverFeedback }}</span>
</form>
<mat-card>
<!-- END REGISTER STUFF -->
<!-- LOGIN STUFF -->
  <h3>Login</h3>

  <div *ngIf="!loggedIn">
    <form (ngSubmit)="loginUser()">
    <mat-form-field>
      <input matInput type="text" placeholder="User Name" name="name" [(ngModel)]="userToLogin.username" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="userToLogin.password" required>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">Login</button>
    </form>
  </div>

  <div *ngIf="loggedIn">
    <button mat-flat-button color="warn" (click)="logoutUser()">Logout</button>
  </div>
</mat-card>

<mat-card>
  <!-- END LOGIN STUFF -->
  <h3>Secure Endpoints</h3>
  <button mat-flat-button color="primary" (click)="accessUserEndpoint()">User Endpoint</button>
  {{ endpointMsgUser }}
  <hr>
  <button mat-flat-button color="primary" (click)="accessAdminEndpoint()">Admin Endpoint</button>
  {{ endpointMsgAdmin }}
</mat-card>
