  <form *ngIf="showLoginModal" autocomplete="off" class="loginWrapper">
    <div class="loginHeader">Login</div>
    <input [(ngModel)]="userToLogin.username" class="inputField" type="text" name="text" id="username"
      placeholder="Enter Username">
    <input [(ngModel)]="userToLogin.password" autocomplete="on" class="inputField" type="password" name="text" id="password"
      placeholder="Enter Password">
      <div *ngIf="serverFeedback" class="feedback">{{ serverFeedback }}</div>
    <!-- <div *ngIf="loginFeedback[0]" class="feedback" [ngStyle]="{color: loginFeedback[2]}">{{loginFeedback[1]}}</div> -->
    <button (click)="loginUser()" class="registerButton">Login</button>
  </form>
