.navWrapper {
  position: absolute;
  display: inline;
  float: right;
  width: 100%;
  height: 60px;
}
/* .registerButton {
  background-color: rgb(105, 105, 105);
  position: relative;
  width: 100px;
  height: 40px;
  border-radius: 0px 5px 5px 0px;
  border: 0px;
  color: rgb(204, 204, 204);
  float: right;
  margin: 10px;
  margin-left: 2px;
  box-shadow: rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.04) 0px 1px 0px inset;
}

.registerButton:hover {
  background-color: rgb(51, 51, 51);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
}
.loginButton {
  background-color: rgb(75, 75, 75);
  position: relative;
  width: 100px;
  height: 40px;
  float: right;
  margin: 10px;
  margin-right: 2px;
  border-radius: 5px 0px 0px 5px;
  border: 0px;
  color: rgb(204, 204, 204);
  box-shadow: rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.04) 0px 1px 0px inset;
}

.loginButton:hover {
  background-color: rgb(51, 51, 51);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
} */
.logoutButton {
  background-color: rgb(75, 75, 75);
  position: relative;
  width: 100px;
  height: 40px;
  border-radius: 25px 25px 25px 25px;
  border: 0px;
  color: rgb(204, 204, 204);
  float: right;
  margin: 10px;
  margin-right: 2px;
}


.logoutButton:hover {
  background-color: rgb(51, 51, 51);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  cursor: pointer;
}
.userName {
  position: relative;
  margin-right: 20px;
  margin-top: 15px;
  border: 0px;
  color: black;
  background-color: transparent;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  float: right;
}

.trashCan {
  position: relative;
  color: tomato;
  height: 20px;
  font-family: sans-serif;
  float: right;
  margin-top: 18px;
  margin-right: 20px;
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(150%)
    contrast(100%);
}
.trashCan:hover {
  color: tomato;
  cursor: pointer;
  filter: brightness(1);
}

.loginButton {
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: auto;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  width: 100px;
  height: 40px;
  float: right;
  margin: 10px;
  margin-right: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.loginButton:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.loginButton:focus {
  user-select: auto;
}

.loginButton:hover:not(:disabled) {
  filter: brightness(1.1);
}

.loginButton:disabled {
  cursor: auto;
}

.registerButton {
  appearance: button;
  background-color: #3bb615;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: auto;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  width: 100px;
  height: 40px;
  float: right;
  margin: 10px;
  margin-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.registerButton:after {
  background-clip: padding-box;
  background-color: #43cc20;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.registerButton:focus {
  user-select: auto;
}

.registerButton:hover:not(:disabled) {
  filter: brightness(1.1);
}

.loginButton:disabled {
  cursor: auto;
}

.logoutButton {
  appearance: button;
  background-color: #7c4c0e;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: auto;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  width: 100px;
  height: 40px;
  float: right;
  margin: 10px;
  margin-right: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}

.logoutButton:after {
  background-clip: padding-box;
  background-color: #ff9307;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.logoutButton:focus {
  user-select: auto;
}

.logoutButton:hover:not(:disabled) {
  filter: brightness(1.1);
}

.logoutButton:disabled {
  cursor: auto;
}

.fill-remaining-space {
  /*This fills the remaining space, by using flexbox.
 Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.navbar {
  background: whitesmoke;
}

.navitem {
  color: black;
  font-weight: bold;
  font-size: 15px;
}

#logo {
  height: 40px;
  margin: 5px;
}

#title {
  color: black;
  font-weight: bold;
  font-size: 30px;
  font-family: Helvetica
}

.navbuttons {
  margin-left: 25px;
}

#cart {
  height: 30px;
  margin-right: 15px;
}

.addedItem {
  height: 12px;
  position: relative;
  right: 30px;
  bottom: 3px;
  opacity: 1;
}

