<div class="nav">
    <div class="navWrapper">
    </div>
        <button *ngIf="loggedInState" class="logoutButton" (click)="logoutUser()">Logout</button>
        <button *ngIf="!loggedInState" class="registerButton" (click)="toggleRegisterModal()">Register</button>
        <button *ngIf="!loggedInState" class="loginButton" (click)="toggleLoginModal()">Login</button>
        <p *ngIf="user" class="userName">{{user.username}}
        </p>
    <!-- <app-login *ngIf="showLoginModal"></app-login>
    <app-register *ngIf="showRegisterModal"></app-register> -->

    <app-login *ngIf="showLoginModal"></app-login>
    <app-register *ngIf="showRegisterModal"></app-register>

</div>