mat-sidenav-container {
  width: 80%;
  max-width: 1500px;
  height: 565px;
  margin: auto;
  overflow: hidden;
  background: none;
  z-index: 0;
}

mat-toolbar {
  background: white;
  color: white;
}

.menu-button {
  margin-bottom: 5px;
  margin-top: 5px;
}

mat-sidenav {
  margin: 16px;
  height: 500px;
  width: 200px;
  border-right: none;
  background: #ff9307;
  color: whitesmoke;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  display: flex;
}

.content {
  height: 500px;
  border-radius: 10px;
  margin: 16px 16px 16px 32px;
  background: white;
  display: flex;
  overflow: auto;

  font-size: 2rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.profilePicture {
  margin: 20px;
}

.profilePicture img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

tr {
  line-height: 0px;
  position: relative;
  bottom: 30px;
}

#username,
#address,
#email,
#phonenumber,
#zipcode,
#city,
#streetnumber,
#birthday,
#image {
  margin-left: 20px;
}

.category {
  font-weight: bold;
}

#name {
  border-bottom: grey 1px solid;
  font-size: 40px;
  width: 500px;
}

p {
  font-size: 20px;
}

.editField {
  margin-left: 20px;
  font-size: 20px;
}

.editButton,
.saveButton {
  float: right;
  margin-top: 45px;
}

.saveButton {
  margin-right: 10px;
}
.Informations {
  margin-left: 10px;
}
.inputPassword {
  font-size: 15px;
  height: 30px;
  display: block;
  margin-bottom: 10px;
}

.changePassword {
  border-bottom: grey 1px solid;
}

#submitPasswordChange {
  display: flex;
  height: 30px;
  background-color: #ff9307;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  padding: 7px;
  text-align: center;
  justify-content: center;
  color: black;
  margin-top: 20px;
}
.password {
  margin-left: 25px;
}

.feedback {
  font-size: 15px;
}

.order {
  background-color: whitesmoke;
}

table.orders {
  margin-top: 50px;
  font-size: 15px;
  width: 95%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.orders td,
.orders th {
  height: 50px !important;
}

.products {
  width: 30%;
}

.pseudoWrap {
  width: 100%;
}

#yourOrders, #yourPosts {
  margin-left: 30px;
  width: fit-content;
  border-bottom: 1px solid black;
}

#cancelButton,
#shipButton {
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 15px;
  border: none;
}
#cancelButton {
  background-color: red;
}
#shipButton {
  background-color: green;
}

.cancel {
  background-color: white;
}

.pending {
  background-color: orange;
}
.cancelled {
  background-color: #ff726f;
}
.shipped {
  background-color: green;
}

.posts {
  width: 100%;
  margin-bottom: 30px;
}
.stats {
  width: 100%;
  position: relative;
  height: fit-content;
  margin-right: 30px;
  margin-top: 15px;
}
.statItems {
  position: relative;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
}
.likeDislikeChildLike {
  position: relative;
  margin: 0px;
  float: left;
  margin-left: 10px;
}
.likeDislikeChildDis {
  position: relative;
  margin: 0px;
  float: left;
  margin-left: 10px;
}
.myPosts {
  width: 100%;
  position: relative;
  border-bottom: 1px solid gray;
}

#reportButton {
  display: block;
  position: absolute;
  padding: 10px;
  background-color: #ff9307;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: none;
}
.helpSection {
  width: 100%;
  overflow: hidden;
  margin-left: 20px;
}
