<mat-sidenav-container>
  <mat-sidenav class="mat-elevation-z8" mode="side" opened>
    <button mat-button class="menu-button" (click)="show('about')">
      <mat-icon>info</mat-icon>
      <span> About</span>
    </button>
    <button mat-button class="menu-button" (click)="show('password')">
      <mat-icon>security</mat-icon>
      <span> Password</span>
    </button>
    <button mat-button class="menu-button" (click)="show('orders')">
      <mat-icon>shopping_cart</mat-icon>
      <span> Orders</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span> Help</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="show('MyPosts')">
      <mat-icon>posts</mat-icon>
      <span> MyPosts</span>
    </button>
  </mat-sidenav>

  {{user.image}}
  <mat-sidenav-content>
    <div *ngIf="showAbout" class="content mat-elevation-z8">
      <div class="profilePicture">
        <img *ngIf="this.user.image == 'null'" class="image" src="assets/default_profilePicture.png" />
        <img *ngIf="this.user.image != 'null'" class="image" src="http://localhost:3000/uploads/{{user.image}}" />
      </div>
      <div *ngIf="showAbout" class="Informations">
        <button class="editButton" (click)="editable = !editable">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="saveButton" *ngIf="editable" (click)="editable = !editable; updateUser()">
          <mat-icon>save</mat-icon>
        </button>
        <h3 id="name">{{this.user.firstName}} {{this.user.lastName}}</h3>
        <table>
          <tr>
            <td>
              <p class="category">username:</p>
            </td>
            <td>
              <p id="username">{{this.user.username}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="category">birthday:</p>
            </td>
            <td>
              <p id="birthday">{{this.user.birthday}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <p class="category">address:</p>
            </td>
            <td>
              <p *ngIf="!editable" id="address">{{this.user.homeAddress}}</p><input class="editField"
                [(ngModel)]=this.user.homeAddress *ngIf="editable">
            </td>
          </tr>
          <tr>
            <td>
              <p class="category">street number:</p>
            </td>
            <td>
              <p *ngIf="!editable" id="streetnumber">{{this.user.streetNumber}}</p><input class="editField"
                [(ngModel)]=this.user.streetNumber *ngIf="editable">
            </td>
          </tr>
          <tr>
            <td>
              <p class="category">zip:</p>
            </td>
            <td>
              <p *ngIf="!editable" id="zipcode">{{this.user.zipCode}}</p><input class="editField"
                [(ngModel)]=this.user.zipCode *ngIf="editable">
            </td>
          </tr>
          <tr>
            <td>
              <p class="category">city:</p>
            </td>
            <td>
              <p *ngIf="!editable" id="city">{{this.user.city}}</p><input class="editField" [(ngModel)]=this.user.city
                *ngIf="editable">
            </td>
          </tr>
          <tr>
            <td>
              <p class="category">email: </p>
            </td>
            <td>
              <p *ngIf="!editable" id="email">{{this.user.email}}</p><input class="editField"
                [(ngModel)]=this.user.email *ngIf="editable">
            </td>
          </tr>
          <tr>
            <td>
              <p class="category">phone number:</p>
            </td>
            <td>
              <p *ngIf="!editable" id="phonenumber">{{this.user.phoneNumber}}</p><input class="editField"
                [(ngModel)]=this.user.phoneNumber *ngIf="editable">
            </td>
          </tr>
          <tr>
            <td>
              <p class="category">image name:</p>
            </td>
            <td>
            <p *ngIf="!editable" id="image">{{this.user.image}}</p><input *ngIf="editable" id="files" #profilImageInput (change)="profileImageHandler($event)" class="editField" type="file"
              name="profile_image" accept="image/*" />
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div *ngIf="showMyPosts" class="content mat-elevation-z8">
      <p class="noPosts" *ngIf="isPostsEmpty()">You have currently no posts 😔</p>

      <div *ngFor="let post of this.posts">

        Total Post count: {{posts.length}}
        Total Likes: <!-- {{count[1]}} -->
        Total Dislikes: <!-- {{count.length}} -->

        <app-post [post]="post">
                  <!--(deletePostEmit)="deletePost($event)" (update)="updatePost($event)"
                  -->
        </app-post>

      </div>
    </div>
    <div *ngIf="showOrders" class="content mat-elevation-z8">
      <div class="pseudoWrap">
        <h3 id="yourOrders">Your Orders</h3>
        <table class="orders">
          <tr>
            <th class="products">products</th>
            <th>purchase date</th>
            <th>price</th>
            <th>status</th>
          </tr>
          <tr class="order" *ngFor="let order of this.orders">
              <td class="products">{{order.products}}</td>
              <td>{{order.purchaseDate}}</td>
              <td>{{order.subtotal}} CHF</td>
              <td [ngClass] ="{
                'pending': order.processingStatus == 'pending',
                'cancelled': order.processingStatus == 'cancelled',
                'shipped': order.processingStatus == 'shipped'
              }">{{order.processingStatus}}</td>
              <td *ngIf="!isAdmin()" class="cancel"><button *ngIf="!(order.processingStatus == 'cancelled') && !(order.processingStatus == 'shipped')" id="cancelButton" (click)="cancelOrder(order);">Cancel</button></td>
              <td *ngIf="isAdmin()" class="cancel"><button *ngIf="!(order.processingStatus == 'shipped') && !(order.processingStatus == 'cancelled')" id="shipButton" (click)="shipOrder(order);">Shipped</button></td>
          </tr>
        </table>
      </div>
    </div>
    <div *ngIf="showPassword" class="content mat-elevation-z8">
      <div class="password">
        <h3 class="changePassword">Change Password</h3>
        <input class="inputPassword" [(ngModel)]="newPassword" placeholder="New Password" type="password">
        <input class="inputPassword" [(ngModel)]="newPassword2" placeholder="Confirm new Password" type="password">
        <p id="feedback">{{this.passwordFeedback}}</p>
        <button id="submitPasswordChange"(click)="changePassword()">Submit</button>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<router-outlet></router-outlet>
