mat-sidenav-container{
  width: 80%;
  max-width: 1500px;
  height: 565px ;
  margin: auto;
  overflow: hidden;
  background: none;
  z-index: 0;
}

mat-toolbar {
  background: white;
  color: white;
}

.menu-button {
  margin-bottom: 5px;
  margin-top: 5px;
}

mat-sidenav {
  margin: 16px;
  height: 500px;
  width: 200px;
  border-right: none;
  background: #ff9307;
  color: whitesmoke;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
  display: flex;
}

.content {
  height: 500px;
  border-radius: 10px;
  margin: 16px 16px 16px 32px;
  background: white;
  display: flex;
  overflow: auto;

  font-size: 2rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.profilePicture{
  margin: 20px;
}

tr {
  line-height: 0px;
  position: relative;
  bottom: 30px;
}

#username, #address, #email, #phonenumber, #zipcode, #city, #streetnumber, #birthday {
  margin-left: 20px;
}

.category {
  font-weight: bold;
}

#name {
  border-bottom: grey 1px solid;
  font-size: 40px;
  width: 500px;
}

p {
  font-size: 20px;
}

.profilePicture img {
  width: 400px;
  height: auto;
  border-radius: 10px;
}

.editField {
  margin-left: 20px;
  font-size: 20px;
}

.editButton, .saveButton {
  float: right;
  margin-top: 45px;
}

.saveButton {
  margin-right: 10px;
}
.Informations {
  margin-left: 10px;
}
.inputPassword {
  font-size: 15px;
  height: 30px;
  display: block;
  margin-bottom: 10px;
}

.changePassword {
  border-bottom: grey 1px solid;
}

#submitPasswordChange {
  display: flex;
  height: 30px;
  background-color: #ff9307;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  padding: 7px;
  text-align: center;
  justify-content: center;
  color: black;
  margin-top: 20px;

}
.password {
  margin-left: 25px;
}

.feedback {
  font-size: 15px;
}



