<div class="review">
  <div class="author">
    <!-- <div class="image">
      <img *ngIf="this.author.image != null" src="http://localhost:3000/uploads/{{this.author.image}}">
      <img *ngIf="!(this.author.image != null)" src="assets/default_profilePicture.png">
    </div>
    <div class="name">
      <p id="name">{{this.author.userName}}:</p>
    </div> -->
  </div>
  <div class="written">
    <p id="title">{{this.review.title}}</p>
    <p id="text">{{this.review.text}}</p>
  </div>
  <div class="stars">
    <mat-icon [ngClass]= "{
            'filled': this.review.stars != 0}" >star</mat-icon>
    <mat-icon [ngClass]= "{
            'filled': this.review.stars != 0 && this.review.stars != 1}" >star</mat-icon>
    <mat-icon [ngClass]= "{
            'filled': this.review.stars != 0 && this.review.stars != 1 && this.review.stars != 2}" >star</mat-icon>
    <mat-icon [ngClass]= "{
            'filled': this.review.stars == 4 || this.review.stars == 5}" >star</mat-icon>
    <mat-icon [ngClass]= "{
            'filled': this.review.stars == 5}" >star</mat-icon>
  </div>
</div>
