<div class="postWrapper">
    <div class="metadata">
        <img src="../../assets/marmot01.png" class="usericon">
        <div class="username">paulK:</div>
        <div class="postdate">Fr. 22.10.2021 19.51</div>
    </div>
    <div class="content">
        <div class="contentTitle">A day in a marmot's life.</div>
        <div class="material">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum ligula leo, a elementum risus suscipit ut.
        Maecenas dictum massa et dapibus eleifend. Nam id vehicula magna, vehicula fermentum ipsum. Donec felis elit, mollis vel
        sagittis vel, interdum id magna. Nam fermentum, ligula nec pulvinar pretium, lorem diam pretium arcu, egestas interdum
        lorem felis lobortis quam. Aenean in urna ac leo lacinia dignissim. Sed at accumsan nisl. In eget odio elit. Etiam in
        tellus justo. Donec vehicula tincidunt mi a dignissim. Aliquam eu arcu ac massa eleifend placerat sagittis in tortor.</div>
    </div>
    <div class="commentSection">
        <div class="comment">
            <img src="../../assets/marmot01.png" class="usericon">
            <div class="username">paulK:</div>
            <div class="commentContent">Lorem ipsum dolor</div>
        </div>
        <div class="comment">
            <img src="../../assets/marmot01.png" class="usericon">
            <div class="username">paulK:</div>
            <div class="commentContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum ligula leo, a elementum risus suscipit ut.
            Maecenas dictum massa et dapibus eleifend.</div>
        </div>
        <div class="comment">
            <img src="../../assets/marmot01.png" class="usericon">
            <div class="username">paulK:</div>
            <div class="commentContent">Nam fermentum, ligula nec pulvinar pretium, lorem</div>
        </div>
    </div>

</div>
