p {
  font-size: 100px;
}

.StoreWrapper {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 60%;
  height: auto;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  top: 10%;
}

mat-grid-list {
  margin-top: 15px;
  width: 100%;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.createProductButton {
  margin-top: 15px;
  position: relative;
  width: 100%;
  height: 60px;
  border-radius: 25px;
  left: 50%;
  border: 0px;
  transform: translate(-50%);
  margin-bottom: 20px;
  color: rgb(204, 204, 204);
  background-color: #1eff00;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: din-round, sans-serif;
  font-size: 120%;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  outline: none;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: all 80ms ease-in-out;
}
.createProductButton:hover {
  background-color: #e7692f;
  height: 75px;
  cursor: pointer;
}
.createProductButton:after {
  background-clip: padding-box;
  background-color: #3f3f3f;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.createProductButton:focus {
  user-select: auto;
}

.createProductButton:hover:not(:disabled) {
  filter: brightness(1.1);
}

.createProductButton:disabled {
  cursor: auto;
}

.filter {
  width: 70%;
  height: fit-content;
  margin: 40px auto;
  border-radius: 15px;
  justify-items: center;
  items-position: center;
  background-color: white;
  padding: 10px;
}
.filter button{
  text-align: center;
  padding: 10px;
  background-color: #FF7E00;
  border: none;
  border-radius: 12px;
  float: right;
  margin: 10px;
  color: #fff;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px,
  rgba(0, 0, 0, 0.4) 0px 0px 1px 0px;
}

.category-selection {
  position: relative;
  margin-right: 13px;
  border: 0px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px inset;color: black;
  background-color: white;
  font-weight: bold;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  height: 60px;
}


.feedback {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: tomato;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-weight: bold;
  width: fit-content;
  border-radius: 10px;
  font-size: 20px;
}
