.product {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: lightgrey;
  padding: 0px;
  overflow: hidden;
  border: 4px solid #000;
  border-radius: 15px;
}

.image {
  width: 100%;
  max-height: 300px;
}

.price {
  color: grey;
  font-size: 22px;
}

.product button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.product button:hover {
  opacity: 0.7;
}

.overlay {
  position: absolute;
  display: block; /* Hidden by default */
  width: 300px; /* Full width (cover the whole page) */
  height: 500px; /* Full height (cover the whole page) */
  background-color: black; /* Black background with opacity */
  opacity: 0.8;
  z-index: 0.5; /* Specify a stack order in case you're using a different order for other elements */
  justify-content: center;
  display: flex;
}

#notAvailableText {
  margin-top: 250px;
  color: white;
}

.category {
  position: absolute;
  background-color: #ff9307;
  padding: 5px 15px;
  font-size: 15px;
  border-radius: 20px;
  margin: 10px;
  opacity: 0.9;
}

