<div class="Wrapper">
  <div class="product">
    <app-product [product]="product"></app-product>
  </div>
  <div class="review">
    <div class="create">
        <input *ngIf="this.userService.getLoggedIn()" [(ngModel)]="title" class="createReview title" placeholder="Write a title for a review here!">
        <input *ngIf="this.userService.getLoggedIn()" [(ngModel)]="text" class="createReview" placeholder="Write a text here!">
        <div class="reviewStars">
          <mat-icon class="clickStars"(click)="addStars(1)"[ngClass]= "{
            'filled': this.stars != 0}" >star</mat-icon>
          <mat-icon class="clickStars"(click)="addStars(2)"[ngClass]= "{
            'filled': this.stars != 0 && this.stars != 1}" >star</mat-icon>
          <mat-icon class="clickStars"(click)="addStars(3)"[ngClass]= "{
            'filled': this.stars != 0 && this.stars != 1 && this.stars != 2}" >star</mat-icon>
          <mat-icon class="clickStars"(click)="addStars(4)"[ngClass]= "{
            'filled': this.stars == 4 || this.stars == 5}" >star</mat-icon>
          <mat-icon class="clickStars"(click)="addStars(5)"[ngClass]= "{
            'filled': this.stars == 5}" >star</mat-icon>
        </div>
        <button *ngIf="this.userService.getLoggedIn()" id="reviewButton" (click)="reviewProduct()">Post Review</button>
    </div>
    <div class="underProduct">
      <div class="reviews"*ngFor="let review of reviews">
        <app-review [review]="review"></app-review>
      </div>
    </div>
  </div>
</div>
