<div class="Wrapper">
  <div class="product">
    <app-product [product]="product"></app-product>
  </div>
  <div class="reviewSection">
    <div class="create">
      <input *ngIf="this.userService.getLoggedIn()" [(ngModel)]="title" class="writeReview" placeholder="Write a title for a review here!">

      <input *ngIf="this.userService.getLoggedIn()" [(ngModel)]="text" class="writeReview" placeholder="Write a text here!">
      <input *ngIf="this.userService.getLoggedIn()" [(ngModel)]="stars" class="writeReview" placeholder="How good is the product? (0-5)">
      <input *ngIf="this.userService.getLoggedIn()" [(ngModel)]="pros" class="writeReview" placeholder="What are the pros of the Product?">
      <input *ngIf="this.userService.getLoggedIn()" [(ngModel)]="cons" class="writeReview" placeholder="What are the cons of the Product?">

      <button *ngIf="this.userService.getLoggedIn()" id="reviewButton" (click)="reviewProduct()">Post Review</button>
    </div>
    <div class="reviews">
      <div *ngFor="let review of reviews">
        <app-review [review]="review"></app-review>
      </div>
    </div>
  </div>
</div>
