.addPost {
  width: 65%;
  position: relative;
  margin: auto auto 10px;
}

.inputField {
  width: 100%;
  padding: 12px 5px 10px;
  margin-bottom: 8px;
  border-radius: 5px;
  border: none;
}

.createButton {
  position: absolute;
  background-color: #ff9307;
  right: 0;
  bottom: 0;
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 5px 10px;
  border-radius: 25px;
  border: none;
  transition-duration: 0.1s;
  box-shadow: 0 3px #999;
}

.createButton:hover:enabled {
  opacity: 0.7;
}

.createButton:active:enabled {
  background-color: #ff9310;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}

.createButton:disabled {
  background-color: grey;
}

.hidden {
  visibility: hidden;
}

#uploadImg {
  cursor: pointer;
}

#buttUploadImg {
  position: absolute;
  bottom: 0;
  left: 0;
}
