<!-- <div class="addPost">
    <form class="form" (ngSubmit)="createPost()">
      <input [(ngModel)]="newPost.title" class="inputField" type="text" name="title" placeholder="Enter Title" /><br>
      <textarea [(ngModel)]="newPost.content" class="inputField" name="text" placeholder="Enter text"></textarea><br>
      ingore the image for now -->
      <!-- <input  id="files" type="file" name="upload" accept="image/*" class="hidden"/><br>
      <button id="buttUploadImg"><label for="files" id="uploadImg">Datei auswählen</label></button>
      <button [disabled]="updateButtonStatus()" onClick="window.location.reload()" type="submit" class="createButton">Post</button> -->
      <!-- refreshes page -->
    <!-- </form> -->
<!-- </div> -->
        <div><img id="postImage" [src]="url" *ngIf="url"></div>
        <input [(ngModel)]="newPost.title" class="inputField" type="text" name="title" placeholder="Enter Title" />
        <div class="feedback" >{{createPostFeedback.title}}</div>
        <textarea [(ngModel)]="newPost.content" class="textArea" name="text" placeholder="Enter text"></textarea>
        <div class="feedback">{{createPostFeedback.content}}</div>
        <button id="buttUploadImg"><label for="files" id="uploadImg">Datei auswählen</label></button>
        <input id="files" (change)="imageHandler($event)" class="inputField" type="file" name="upload" accept="image/*" class="hidden"/><br>
        <button type="submit" (click)="createPost()" class="postButton">SHARE NOW</button>



