
<div class="wallWrapper">
  <!-- toggles the add-post component -->
  <button *ngIf="showCreatePost()" class="createPostButton" (click)="togglePostForm()" [innerHtml]="createPostButtonText"></button>
  <app-add-post *ngIf="showNewPostForm" (addPostEmit)="addPostParent($event)"></app-add-post>
  <div class="filter">
    <mat-form-field appearance="fill" class="category-selection">
      <mat-label>Category</mat-label>
      <mat-select matNativeControl required [(value)]="toFilterCategories" [multiple]="true">
        <mat-option value="Bitcoin">Bitcoin</mat-option>
        <mat-option value="Ethereum">Ethereum</mat-option>
        <mat-option value="Cardano">Cardano</mat-option>
        <mat-option value="Polkadot">Polkadot</mat-option>
      </mat-select>
    </mat-form-field>
    <button (click)="filterPosts()">Filter</button>
  </div>
  <!-- handles the no-posts case -->
  <p class="noPosts" *ngIf="isPostsEmpty()">There are currently no posts 😔</p>
  <!-- renders all posts -->
  <div *ngFor="let post of posts">
    <app-post *ngIf="showFiltered(post)" [post] = "post" (deletePostEmit)="deletePostParent($event)" (update)="updatePosts($event)"></app-post>
  </div>
</div>

<router-outlet></router-outlet>
