
<div class="wallWrapper">
  <!-- toggles the add-post component -->
  <button *ngIf="auth" class="createPostButton" (click)="togglePostForm()" [innerHtml]="createPostButtonText"></button>
  <app-add-post *ngIf="showNewPostForm" (addPostEmit)="addPostParent($event)"></app-add-post>
  <!-- handles the no-posts case -->
  <p class="noPosts" *ngIf="isPostsEmpty()">There are currently no posts 😔</p>
  <!-- renders all posts -->
  <div *ngFor="let post of posts">
    <app-post [post] = "post" (deletePostEmit)="deletePostParent($event)" (update)="getAllPosts()"></app-post>
  </div>
</div>
