.post {
  margin-top: 30px;
}
.Wrapper {
  max-width: 2000px;
  width: 80%;
  margin: auto;
}
.comments, .create {
  border-radius: 20px;
  border: none;
  margin: auto;
}

.create {
  width: 60%;
}

.comments {
  width: 60%;
  max-height: 400px;
  min-height: 100px;
  background-color: white;
  padding: 10px;
  overflow: auto;
}


.createComment {
  width: 70%;
  font-size: 18px;
  padding: 10px;
  border-radius: 15px;
  border: none;
}

.comments {
  margin-top: 20px;
}

#commentButton {
  padding: 10px;
  border-radius: 15px;
  background-color: #ff9307;
  border: none;
  font-weight: bold;
  color: black;
  margin-left: 15px;
  float: right;
}
