<div class="cart">
  <h3 class="title">Shopping Cart</h3>
  <table>
    <tr class="cart-item" *ngFor="let product of products">
      <td><h4 class="productTitle">{{product.title}}</h4></td>
      <td><p class="price">{{product.price}} CHF</p></td>
    </tr>
    <tr *ngIf="this.products.length > 0" class="total">
      <td><h4 class="totalTitle">Total</h4></td>
      <td><p class="totalPrice">{{calculateTotal()}} CHF</p></td>
    </tr>
  </table>
  <p id = "emptyMessage"*ngIf="this.products.length == 0">Your Shopping Cart is empty!</p>
</div>
