.cart {
  min-height: 100px;
  max-height: 500px;
  width: 25%;
  max-width: 500px;
  background: whitesmoke;
  position: absolute;
  right: 0;
  z-index: 999;
  border: 1px solid grey;
  border-radius: 15px;
  margin: 5px 20px 5px 5px;
  font-family: din-round, sans-serif;
  overflow: auto;
  border: 3px solid black;
  top: 65px;
}

table {
  width: 100%;
  border-collapse: collapse;
  padding: 3px;
}

tr {
  margin-right: 5px;
  height: 75px;
  border-top: 1px solid grey;
}

.removeAllButton {
  position: absolute;
  margin-top: 20px;
  right: 15px;
  padding: 0;
  border: none;
  background: none;
  color: red;
  border-bottom: 1px solid red;
}

.checkoutButton {
  float: right;
  margin-right: 13px;
  margin-bottom: 15px;
  background: #ff9307;
  color: white;
  font-size: 15px;
  padding: 10px;
  border-radius: 15px;
  border: none;
  font-weight: bold;
}

.removeButton {
  position: absolute;
  right: 15px;
  padding: 0;
  border: none;
  background: none;
  margin-top: 50px;
  color: red;
  border-bottom: 1px solid red;
  font-size: 10px;
}

.productTitle,
.totalTitle {
  font-weight: bold;
  margin-left: 15px;
}

.total {
  border-top: 2px solid black;
}

.price,
.totalPrice {
  text-align: right;
  margin-right: 15px;
}

.price {
  position: relative;
  up: 0px;
}

.totalPrice {
  font-weight: bolder;
}

.title {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

#emptyMessage {
  text-align: center;
}
