.loginWrapper {
  background-color: rgb(143, 143, 143);
  position: absolute;
  width: 500px;
  height: auto;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #1cb0f6;
  border-bottom: 10px solid #363636;
  z-index: 2;
}

.loginHeader {
  background-color: #0096ff;
  position: relative;
  height: 40px;
  padding-top: 5px;
  border-radius: 25px 25px 0px 0px;
  margin-bottom: 20px;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 25px;
  font-weight: bold;
  color: rgb(44, 44, 44);
  font-size: 120%;

  box-sizing: border-box;
  color: #ffffff;
  font-family: din-round, sans-serif;
  font-weight: 700;
  letter-spacing: 0.8px;
  z-index: 999;
  border-bottom: 1px solid #072b79;
}

.feedback {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: tomato;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  border-radius: 10px;
}
.successfullRegistration {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 121, 0);
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  width: fit-content;
  border-radius: 10px;
}

.inputField {
  background-color: rgb(246, 246, 246);
  position: relative;
  width: 75%;
  height: 30px;
  border-radius: 15px;
  left: 50%;
  border: 0px;
  transform: translate(-50%);
  padding-left: 10px;
  outline: none;
  margin: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px inset;
}

.registerButton {
  position: relative;
  width: 85%;
  height: 40px;
  border-radius: 25px;
  left: 50%;
  border: 0px;
  transform: translate(-50%);
  margin: 10px;
  margin-bottom: 20px;
  color: rgb(204, 204, 204);

  appearance: button;
  background-color: #1eff00;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: din-round, sans-serif;
  font-size: auto;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  outline: none;
  overflow: visible;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: all 80ms ease-in-out;
}

.registerButton:hover {
  background-color: #e7692f;
  height: 45px;
  cursor: pointer;
}

.registerButton:after {
  background-clip: padding-box;
  background-color: #ff9307;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.registerButton:focus {
  user-select: auto;
}

.registerButton:hover:not(:disabled) {
  filter: brightness(1.1);
}

.registerButton:disabled {
  cursor: auto;
}

.registrSuccess {
  background-color: rgb(143, 143, 143);
  position: absolute;

  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  color: #16bd00;
  font-size: larger;
  font-weight: bolder;
  border-bottom: 10px solid #168ec5;
  font-family: Arial, Helvetica, sans-serif;
  align-content: center;
  text-align: center;
  padding: 20px;
  z-index: 1300;
}

.loginWrapper {
  background-color: rgb(143, 143, 143);
  position: absolute;
  width: 500px;
  height: auto;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: all 30ms ease-in-out;
}
.loginWrapper:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.loginHeader {
  background-color: rgb(112, 112, 112);
  position: relative;
  height: 30px;
  padding-top: 5px;
  margin-top: 1px;
  border-radius: 25px 25px 0px 0px;
  margin-bottom: 20px;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 25px;
  font-weight: bold;
  color: rgb(44, 44, 44);
  font-size: 120%;
}

.feedback {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, rgb(138, 37, 37), rgb(219, 79, 54));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-weight: bold;
}

.inputField {
  background-color: rgb(184, 184, 184);
  position: relative;
  width: 75%;
  height: 30px;
  border-radius: 15px;
  left: 50%;
  border: 0px;
  transform: translate(-50%);
  padding-left: 10px;
  outline: none;
  margin: 10px;
  transition: all 100ms ease-in-out;
}
.inputField:focus {
  background: #e8f0fe;
}

.registerButton {
  background-color: rgb(107, 107, 107);
  position: relative;
  width: 85%;
  height: 40px;
  border-radius: 25px;
  left: 50%;
  border: 0px;
  transform: translate(-50%);
  margin: 10px;
  margin-bottom: 20px;
  color: rgb(204, 204, 204);
  transform-origin: center;
  transition: all 80ms ease-in-out;
}

.registerButton:hover {
  background-color: rgb(105, 105, 105);

  cursor: pointer;
  height: 45px;
  width: 86%;
  transform: rot(32deg);
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(35, 66, 37, 0.3) 0 7px 13px -3px, #585858 0 -3px 0 inset;
  font-weight: bold;
}
