.loginWrapper {
  background-color: rgb(143, 143, 143);
  position: absolute;
  width: 500px;
  height: auto;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: all 30ms ease-in-out;
}
.loginWrapper:hover {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.loginHeader {
  background-color: rgb(112, 112, 112);
  position: relative;
  height: 30px;
  padding-top: 5px;
  margin-top: 1px;
  border-radius: 25px 25px 0px 0px;
  margin-bottom: 20px;
  top: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 25px;
  font-weight: bold;
  color: rgb(44, 44, 44);
  font-size: 120%;
}

.feedback {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, rgb(138, 37, 37), rgb(219, 79, 54));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  left: 50%;
  transform: translate(-50%);
  text-align: center;
  font-weight: bold;
}

.inputField {
  background-color: rgb(184, 184, 184);
  position: relative;
  width: 75%;
  height: 30px;
  border-radius: 15px;
  left: 50%;
  border: 0px;
  transform: translate(-50%);
  padding-left: 10px;
  outline: none;
  margin: 10px;
  transition: all 100ms ease-in-out;
}
.inputField:focus {
  background: #e8f0fe;
}

.registerButton {
  background-color: rgb(107, 107, 107);
  position: relative;
  width: 85%;
  height: 40px;
  border-radius: 25px;
  left: 50%;
  border: 0px;
  transform: translate(-50%);
  margin: 10px;
  margin-bottom: 20px;
  color: rgb(204, 204, 204);
  transform-origin: center;
  transition: all 80ms ease-in-out;
}

.registerButton:hover {
  background-color: rgb(105, 105, 105);

  cursor: pointer;
  height: 45px;
  width: 86%;
  transform: rot(32deg);
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(35, 66, 37, 0.3) 0 7px 13px -3px, #585858 0 -3px 0 inset;
  font-weight: bold;
}
