@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.passReqModal {
  position: absolute;
  width: auto;
  height: auto;
  background-color: white;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border: 0px;
  border-radius: 8px;
  left: 50%;
  transform: translate(-70%, 0px);
  margin: 0px;
  padding: 5px 10px;
  white-space: nowrap;
  font-size: small;
  font-family: "Montserrat", sans-serif;
  transition: all 0.1s ease-in-out;
}
.passReqModal:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.reqText {
  padding: 0;
  color: rgb(128, 128, 128);
  margin: 3px 4px 7px;
  user-select: none;
}

.reqStatus {
  display: inline-block;
  padding: 0;
  margin: 3px 0;
}

.emptyField {
  color: #d82903;
  font-size: 15px;
}

.inlineValidation {
  font-size: 11px;
  color: #d82903;
}
