<!-- PASSWORD REQUIREMENTS MODAL START -->
<div *ngIf="showPassReqs" class="passReqModal">
      <h4 [ngStyle]="{color: 'gray', 'margin': '8px'}" class="reqText">Password must include:</h4>
      <div class="reqText">
        <p class="reqStatus" *ngIf="passwordReqs[0]" [ngStyle]="{color: 'green'}">✔</p>
        <p class="reqStatus" *ngIf="!passwordReqs[0]" [ngStyle]="{color: 'red'}">✖</p>
        a minimum of 8 characters
      </div>
      <div class="reqText">
        <p class="reqStatus" *ngIf="passwordReqs[1]" [ngStyle]="{color: 'green'}">✔</p>
        <p class="reqStatus" *ngIf="!passwordReqs[1]" [ngStyle]="{color: 'red'}">✖</p>
        capital and small letters
      </div>
      <div class="reqText">
        <p class="reqStatus" *ngIf="passwordReqs[2]" [ngStyle]="{color: 'green'}">✔</p>
        <p class="reqStatus" *ngIf="!passwordReqs[2]" [ngStyle]="{color: 'red'}">✖</p>
        a number
      </div>
      <div class="reqText">
        <p class="reqStatus" *ngIf="passwordReqs[3]" [ngStyle]="{color: 'green'}">✔</p>
        <p class="reqStatus" *ngIf="!passwordReqs[3]" [ngStyle]="{color: 'red'}">✖</p>
        a special character
      </div>
    </div>
<!-- PASSWORD REQUIREMENTS MODAL END -->