<div class="postWrapper">
    <div class="metadata">
        <img src="../../../assets/marmot01.png" class="usericon">
        <div class="username">paulK:</div>
        <div class="postdate">{{post.created_at}}</div>
    </div>
    <div class="content">
      <div class="contentTitle">{{post.title}}</div>
      <div class="material">{{post.text}}</div>

    </div>
    <div class="commentSection">
        <div class="comment">
            <img src="../../../assets/marmot01.png" class="usericon">
            <div class="username">paulK:</div>
            <div class="commentContent">Lorem ipsum dolor</div>
        </div>
        <div class="comment">
            <img src="../../../assets/marmot01.png" class="usericon">
            <div class="username">paulK:</div>
            <div class="commentContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum ligula leo, a elementum risus suscipit ut.
            Maecenas dictum massa et dapibus eleifend.</div>
        </div>
        <div class="comment">
            <img src="../../../assets/marmot01.png" class="usericon">
            <div class="username">paulK:</div>
            <div class="commentContent">Nam fermentum, ligula nec pulvinar pretium, lorem</div>
        </div>
    </div>
</div>
