<!-- the following is rendered for all users except the creator -->
<div class="postWrapper" *ngIf="user !== post.userName">
  <div class="category">{{post.category}}</div>
    <div class="metadata">
        <img *ngIf="this.user.image != null" src="http://localhost:3000/uploads/{{this.user.image}}" class="usericon">
        <img *ngIf="this.user.image == null" src="assets/default_profilePicture.png" class="usericon">
        <div class="username">{{this.post.userName}}:</div>
        <div class="postdate">{{calculateTimePosted()}}</div>
    </div>
    <img class="postImage" *ngIf="post.image" src='http://localhost:3000/uploads/{{post.image}}'>
    <div class="content">
      <button *ngIf="canChange()" class="verticalDots" mat-button [mat-menu-trigger-for]="menu"></button>
      <mat-menu #menu="matMenu" >
        <button mat-menu-item (click)="deletePost(post.id)">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
        <button mat-menu-item (click)="changeEditability()">
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
      </mat-menu>
      <div *ngIf="!editable" class="contentTitle">{{post.title}}</div>
      <input *ngIf="editable" class="contentTitle editableTitle"[(ngModel)]="post.title"/>
      <div *ngIf="!editable" class="material">{{post.text}}</div>
      <input *ngIf="editable" class="material editableText"[(ngModel)]="post.text"/>
    </div>
    <div class="underPost">
      <div class="upvote">
        <button [disabled]="canNot()" *ngIf="!clickedUpvote" class="upvoteButton" (click)="upvotePost()">
          <mat-icon>thumb_up</mat-icon>
        </button>
        <button [disabled]="canNot()"*ngIf="clickedUpvote" class="upvoteButton clickedUp"  (click)="upvotePost()">
          <mat-icon>thumb_up</mat-icon>
        </button>
        <p class="likesCount">{{post.like}}</p>
      </div>
      <div class="downvote">
        <button [disabled]="canNot()" *ngIf="!clickedDownvote" class="downvoteButton" (click)="downvotePost()">
          <mat-icon>thumb_down</mat-icon>
        </button>
        <button [disabled]="canNot()" *ngIf="clickedDownvote" class="downvoteButton clickedDown"  (click)="downvotePost()">
          <mat-icon>thumb_down</mat-icon>
        </button>
        <p class="dislikesCount">{{post.dislike}}</p>
      </div>
      <div class="comment">
        <button class="commentButton" routerLink="post/{{post.id}}">
          <mat-icon>comment</mat-icon>
        </button>
        <p class="commentsCount">{{numberComments}}</p>
      </div>
      <div class="report">
        <button [disabled]="canNot()" class="ReportButton" (click)="reportPost()">
          <mat-icon>report_icon</mat-icon>
        </button>
      </div>
    </div>
</div>
