<!-- the following is rendered for all users except the creator -->
<div class="postWrapper" *ngIf="user !== post.userName">
    <div class="category">{{post.category}}</div>
    <div class="metadata">
        <img src="../../../assets/marmot01.png" class="usericon">
        <div class="username">{{post.userName}}:</div>
        <div class="postdate">{{post.createdAt}}</div>
    </div>
    <div class="content">
      <img *ngIf="post.image" src='http://localhost:3000/uploads/{{post.image}}' height="250">
      <button *ngIf="canChange()" class="verticalDots" mat-button [mat-menu-trigger-for]="menu"></button>
      <mat-menu #menu="matMenu" >
        <button mat-menu-item (click)="deletePost(post.id)">
          <span>Delete</span>
        </button>
        <button mat-menu-item (click)="changeEditability()">
          <span>Edit</span>
        </button>
      </mat-menu>
      <div *ngIf="!editable" class="contentTitle">{{post.title}}</div>
      <input *ngIf="editable" class="contentTitle"[(ngModel)]="newTitle" placeholder="{{post.title}}"/>
      <div *ngIf="!editable" class="material">{{post.text}}</div>
      <input *ngIf="editable" class="material"[(ngModel)]="newText" placeholder="{{post.text}}"/>
    </div>
    <div class="underPost">
      <button (click)="upvotePost()" class="upvoteButton">Upvotes: {{post.like}}</button>
      <button (click)="downvotePost()" class="downvoteButton">Downvotes: {{post.dislike}}</button>
      <button class="commentsButton">Comments</button>
      <button *ngIf="editable" (click)="updatePost()" (click)="changeEditability()">Save Changes</button>
    </div>
    <!-- <div class="commentSection">
        <div class="comment">
            <img src="../../../assets/marmot01.png" class="usericon">
            <div class="username">paulK:</div>
            <div class="commentContent">Lorem ipsum dolor</div>
        </div>
        <div class="comment">
            <img src="../../../assets/marmot01.png" class="usericon">
            <div class="username">paulK:</div>
            <div class="commentContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur rutrum ligula leo, a elementum risus suscipit ut.
            Maecenas dictum massa et dapibus eleifend.</div>
        </div>
        <div class="comment">
            <img src="../../../assets/marmot01.png" class="usericon">
            <div class="username">paulK:</div>
            <div class="commentContent">Nam fermentum, ligula nec pulvinar pretium, lorem</div>
        </div>
    </div> -->
</div>
