.postWrapper {
  position: relative;
  width: 65%;
  left: 50%;
  transform: translate(-50%);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  padding: 10px;
  border-radius: 20px;
  display: block;
  margin-bottom: 25px;
  background: rgb(255, 255, 255, 0.2);

  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: all 60ms ease-in-out;
}

.postWrapper:hover {
  background: rgb(255, 255, 255, 0.5);
  border-bottom: double 2px transparent;
  /* first gradient is for card background, second for border background */
  background-image: linear-gradient(
      rgb(255, 255, 255, 0.5),
      rgba(112, 112, 112, 0.5)
    ),
    linear-gradient(to right, rgb(255, 0, 0), rgb(0, 255, 55));
  background-clip: padding-box, border-box;
  background-origin: border-box;
  z-index: 999;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

button:disabled {
  pointer-events: none;
}

.metadata {
  position: relative;
  width: fit-content;
  height: 50px;
  top: 0px;
  background-color: rgb(245, 245, 245);
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-bottom: solid 5px #1eff00;
}
.username {
  position: relative;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 50px;
  top: 50%;
  transform: translate(0, -50%);
}
.usericon {
  position: relative;
  height: 40px;
  width: 40px;
  float: left;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
  top: 50%;

  transform: translate(0, -50%);
}

.tokenLogo {
  position: absolute;
  float: inline-end;
  width: auto;
  height: 50px;
  z-index: 1999;
  top: -35px;
  right: -15;
  filter: drop-shadow(7px 7px 7px #414141);
  -webkit-filter: drop-shadow(7px 7px 7px #414141);
  transform: rotate(8deg);
}

.ReportButton {
  color: rgb(121, 121, 121);
  transition: all 50ms ease-in-out;
}
.ReportButton:hover {
  background-color: transparent;
  border: none;
  color: tomato;
}

.ReportButton:disabled {
  color: grey;
}

.category {
  position: relative;
  float: right;
  padding: 10px;
  border-radius: 20px;
  margin-right: 10px;
  margin-top: 5px;
  font-weight: bold;
  color: rgb(209, 209, 209);
  font-size: 90%;
}

.category-selection {
  position: relative;
  float: right;
  font-size: 15px;
}
.postdate {
  line-height: 50px;
  position: relative;
  height: 100%;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  top: 50%;
  transform: translate(0, -50%);
  font-weight: normal;
  color: rgb(92, 92, 92);
  margin-right: 15px;
}

.content {
  position: relative;
  top: 10px;
  width: calc(100% + 20px);
  left: -10px;
  background-color: #3f3f3f;
  color: rgb(219, 219, 219);
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
}

.material {
  color: #000000;
  position: relative;
  width: auto;
  height: calc(100% - 25px);
  background: rgb(245, 245, 245);

  font-weight: normal;
  padding: 15px;
  display: block;
  border-top: 5px solid orange;
}
.contentTitle {
  height: auto;
  width: auto;
  padding: 15px;
  font-size: 150%;
}

.commentSection {
  position: relative;
  left: 10px;
  top: 35px;
  right: 10px;
  width: calc(100% - 20px);
  height: auto;
  border-radius: 20px;
  float: left;
}

.comment {
  position: relative;
  /* background-color: rgb(110, 110, 110); */
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  width: calc(100% - 40px);
  height: auto;
  float: left;
  width: fit-content;
}
.commentContent {
  position: relative;
  float: left;
  margin-left: 5px;
  margin-right: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 15px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: rgb(95, 95, 95);
  color: rgb(255, 145, 56);
  font-weight: normal;
  /* font-size: normal;*/
}

.underPost {
  position: relative;
  width: 100%;
  padding-top: 10px;
  padding-left: 10px;
  height: 35px;
  position: relative;
  width: fit-content;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-bottom: solid 5px #1eff00;
}

.upvoteButton,
.downvoteButton,
.commentButton,
.ReportButton {
  height: 30px;
  border: none;
  background: none;
  background-color: none;
}
.upvoteButton:hover {
  color: green;
}
.downvoteButton:hover {
  color: tomato;
}
.commentButton:hover {
  color: blue;
}
.clickedUp {
  color: green;
}

.clickedDown {
  color: tomato;
}

mat-icon {
  outline: 0;
}
.likesCount,
.dislikesCount,
.commentsCount,
.reportedCount {
  float: left;
  font-size: 18px;
  position: relative;
  margin: 0;
  bottom: -2px;
}

.reportedCount {
  bottom: 13px;
  color: red;
}

.upvote,
.downvote,
.comment {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

.downvote,
.comment {
  margin-left: 15px;
}

.verticalDots:after {
  content: "\2807";
  font-size: 30px;
  background-color: transparent;
}

.verticalDots {
  border: none;
  position: absolute;
  right: -5px;
  height: auto;
  width: 5px;
  padding-top: 13px;
  margin: 0;
  background-color: transparent;
}

.verticalDots:hover {
}

input {
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
}

.postImage {
  max-height: 400px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 15px;
  border-radius: 15px;
}

#saveChanges {
  position: absolute;
  left: 80%;
  bottom: 10px;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  background-color: #ff9307;
  border: none;
  color: black;
  font-weight: bold;
}
.editableTitle {
  color: black;
  font-size: 150%;
  font-weight: bold;
}

.editableText {
  font-size: 18px;
}

.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  font-size: 15px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
