.postWrapper {
  position: relative;
  width: 65%;
  left: 50%;
  transform: translate(-50%);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  padding: 10px;
  border-radius: 20px;
  display: block;
  margin-bottom: 25px;
  background: whitesmoke;
  overflow: auto;
}

.metadata {
  position: relative;
  width: fit-content;
  height: 50px;
  top: 0px;
  background-color: lightgrey;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.username {
  position: relative;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 50px;
  top: 50%;
  transform: translate(0, -50%);
}
.usericon {
  position: relative;
  height: 30px;
  float: left;
  border-radius: 100%;
  margin-left: 5px;
  margin-right: 5px;
  top: 50%;

  transform: translate(0, -50%);
}
.report {
  background-color: transparent;
  position: relative;
  float: right;
  margin-top: 5px;
  margin-right: 10px;
}

.category {
  position: relative;
  float: right;
  padding: 10px;
  border-radius: 20px;
  margin-right: 10px;
  margin-top: 5px;


}

.category-selection {
  position: relative;
  float: right;
  font-size: 15px;
}
.postdate {
  line-height: 50px;
  position: relative;
  height: 100%;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  top: 50%;
  transform: translate(0, -50%);
  font-weight: normal;
  color: rgb(179, 179, 179);
}

.content {
  position: relative;
  top: 10px;
  width: 100%;
  background-color: #ff9307;
  border-radius: 20px;
}

.material {
  position: relative;
  width: auto;
  height: calc(100% - 25px);
  background-color: antiquewhite;
  font-weight: normal;
  padding: 15px;
  display: block;
  border-radius: 0px 0px 20px 20px;
}
.contentTitle {
  height: auto;
  width: auto;
  padding: 15px;
  font-size: 150%;
}

.commentSection {
  position: relative;
  left: 10px;
  top: 35px;
  right: 10px;
  width: calc(100% - 20px);
  height: auto;
  border-radius: 20px;
  float: left;
}

.comment {
  position: relative;
  /* background-color: rgb(110, 110, 110); */
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  width: calc(100% - 40px);
  height: auto;
  float: left;
  width: fit-content;
}
.commentContent {
  position: relative;
  float: left;
  margin-left: 5px;
  margin-right: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 15px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: rgb(95, 95, 95);
  color: rgb(255, 145, 56);
  font-weight: normal;
/* font-size: normal;*/
}

.underPost {
  margin-top: 20px;
  margin-left: 10px;
}

.upvoteButton, .downvoteButton, .commentButton {
  height: 30px;
  border: none;
  background: none;
}

.clickedUp {
  color: green;
}

.clickedDown {
  color: red;
}

mat-icon {
  outline: 0;
}
.likesCount, .dislikesCount, .commentsCount {
  float: left;
  font-size: 18px;
  position: relative;
  bottom: 10px;
}

.upvote, .downvote, .comment {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

.downvote, .comment {
  margin-left: 15px;
}

.verticalDots:after {
  content: '\2807';
  font-size: 30px;
}

.verticalDots {
  background-color: transparent;
  border: none;
  position: relative;
  float: right;
  outline: none;
  margin-top: 5px;
}

.verticalDots:checked{
  background-color: transparent;
}

input {
  border: 0;
  padding: 0;
  margin: 0;
  background: transparent;
}

.postImage {
  max-height: 400px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  margin-top: 15px;
  border-radius: 15px;

}

#saveChanges {
  float: right;
  position: relative;
  bottom: 0px;
  right: 0px;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  background-color: #ff9307;
  border: none;
  color: black;
  font-weight: bold;
}
.editableTitle {
  color: black;
  font-size: 150%;
  font-weight: bold;
}

.editableText {
  font-size: 18px;
}

